/*
blue   #18ffff
red    #f44336
alt red #f54337
##yellow #ffff00
green #27bd42
black  #000
white  #fff
 */
@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body {
    font-family: 'merriweather', serif;
    margin: 0;
}
.text-content-wrap{
    max-width: 30em;
    margin: 0 auto;
}
h1,h2,h3,h4 {
    font-family: 'bebas_neue', sans-serif;
}
h1,h2,h3,h4{
    text-align: center;
}
h1{
    color: #ddd;
    font-size: 8em;
    margin: 0;
}
h2{
    margin: 0.2em 0px 0px;
    font-size: 3em;
}
h3,h4{
    font-size: 2em;
}
.details .subhead{
    color: #f54337;
    text-align: center;
    margin: 0;
}
.details .title{
    margin: 0.25em 0;
}
.details .description{

}
.stop-title{
    margin-bottom: -0.5em;
}
.stop-title .space{
    display: inline-block;
    width: 12%;
    padding: 0 5%;
}
@media screen and (min-width: 1120px) {
    .stop-title{
        position: absolute;
        width: 100%;
        margin-top: 30%;
    }
    body {
        margin-top: 25px;
    }
}
@media screen and (min-width: 1550px) {
    .stop-title .space{
        width: 15%;
        padding: 0 10%;
    }
}
@media screen and (min-width: 1760px) {
    .stop-title{
        margin-top: 530px;
    }
}
form {
    text-align: center;
}
input[type="radio"]{
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}
input[type="radio"] + label{
    background-position: 0 0;
    background-repeat: none;
    height: 48px;
    width: 48px;
    display: inline-block;
    text-indent: -200px;
    overflow: hidden;
}
input[type="radio"]:checked + label{
    background-position: 0 48px;
}
label[for="places-coffee"] {
    background-image: url('/static/icons/coffee-sprite.png');
}
label[for="places-restaurant"] {
    background-image: url('/static/icons/restaurant-sprite.png');
}
label[for="places-park"] {
    background-image: url('/static/icons/park-sprite.png');
}
label[for="places-atm"] {
    background-image: url('/static/icons/atm-sprite.png');
}
label[for="places-wikipedia"] {
    background-image: url('/static/icons/wikipedia-sprite.png');
}
label[for="places-plaques"] {
    background-image: url('/static/icons/plaques-sprite.png');
}
label[for="events-beauty"] {
    background-image: url('/static/icons/beauty-sprite.png');
}
label[for="events-culture"] {
    background-image: url('/static/icons/culture-sprite.png');
}
label[for="events-education"] {
    background-image: url('/static/icons/education-sprite.png');
}
label[for="events-meltingpot"] {
    background-image: url('/static/icons/melting-pot-sprite.png');
}
label[for="events-restaurant"] {
    background-image: url('/static/icons/restaurant-sprite.png');
}
label[for="events-sport"] {
    background-image: url('/static/icons/sport-sprite.png');
}
.maps {
    text-align: center;
    margin: 0 10px;
}
html {
    height: 100%;
}
.template-places {
    margin:0;
    padding:0;
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}
.template-places .maps {
    order: 1;
    margin:0;
    flex: 1 100%;
    position: relative;
}
.template-places .map-wrap{
    width: 100%;
}
.template-places .map-inner-wrap{
    max-width: 40em;
}
.template-places .details_wrap  {
    order: 2;
    max-width: 23em;
    flex: 1 auto;
    overflow-y: scroll;
    background: #eee;
}
.template-places .details {
    width: 100%;
}
.template-places .timeline-wrap {
    position: absolute;
    bottom: 0;
}
.details,
.map-wrap{
    display: inline-block;
    width: 33.3333%;
    padding: 0 20px;
    vertical-align: top;
}
.details-inner-wrap,
.map-inner-wrap{
    max-width: 30em;
    margin: 0 auto;
}
.map {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    padding-top: 100%;
    background: #ccc;

    border-radius: 50%;
    transform: translateZ(0);

    border: 16px solid #000;
    margin-left: -16px;
    box-sizing: content-box;
}
.map-wrap.full-page {
    width: 100%;
}
.marker-busstop img {
    position: absolute;
    top: -40px;
    left: -18px;
}
.marker-busstop p {
    font-family: 'bebas_neue';
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 0;
    position: absolute;
    top: 6px;
    text-align: center;
    width: 160px;
    left: -74px;
}
.error-msg {
    position: fixed;
    width: 300px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #666;
    background-color: #eee;
    z-index: 1030;
}
/* Hide zoom control on touch devices or move it when below a certain size, which interferes with demo parent container overlay */
.leaflet-touch .leaflet-control-zoom {
    display: none;
}
/* timeline overrides */
.timeline-wrap {
    width:100%;
    z-index: 500;
    background: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff 56%, #000 56%, #000 60%, #fff 60%,#fff);
    left: 0px;
    right: 0px;
    padding: 70px 55px 50px;
}
.timeline_label,
.timeline_label_bottom{
    position: absolute;
    font-family: 'bebas_neue';
    font-size: 1.75em;
    font-weight: bold;
}
.timeline_label_bottom{
    top:10px;
    left: -60px;
    width: 120px;
    text-align: center;
}
.timeline_label{
    left: -35px;
    top: -80px;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center right;
    height: 48px;
    line-height: 48px;
}
.timeline_label[data-weather="clear-day"]{
    background-image: url("/static/icons/clear-day.png");
}
.timeline_label[data-weather="clear-night"]{
    background-image: url("/static/icons/clear-night.png");
}
.timeline_label[data-weather="cloudy"]{
    background-image: url("/static/icons/cloudy.png");
}
.timeline_label[data-weather="fog"]{
    background-image: url("/static/icons/fog.png");
}
.timeline_label[data-weather="partly-cloudy-day"]{
    background-image: url("/static/icons/partly-cloudy-day.png");
}
.timeline_label[data-weather="partly-cloudy-night"]{
    background-image: url("/static/icons/partly-cloudy-night.png");
}
.timeline_label[data-weather="sleet"]{
    background-image: url("/static/icons/sleet.png");
}
.timeline_label[data-weather="snow"]{
    background-image: url("/static/icons/snow.png");
}
.timeline_label[data-weather="wind"]{
    background-image: url("/static/icons/wind.png");
}
.timeline_label[data-weather="rain"]{
    background-image: url("/static/icons/rain.png");
}
#timeline .noUi-handle {
    top: -30px;
    width: 0px;
    height: 0px;
    border-color: black white white white;
    border-width: 30px 20px 0px 20px;
    box-shadow: none;
    overflow: hidden;
}
#timeline.noUi-target {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: #000;
    height: 5px;
}
.template-stop .leaflet-routing-container {
    display: none;
}
.template-stop .leaflet-overlay-pane {
/*    z-index: 8;
    pointer-events: none;
*/}
.hide {
    display: none;
}
