@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('/static/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body {
    font-family: 'merriweather', serif;
}
h1,h2,h3,h4 {
    font-family: 'bebas_neue', sans-serif;
}
h1,h2,h3{
    text-align: center;
}
h1{
    color: #ccc;
    font-size: 8em;
    margin: 0;
}
h2{
    margin: 0.2em 0px 0px;
    font-size: 3em;
}
h3{
    font-size: 2em;
}
.stop-title{
    margin-bottom: -0.5em;
}
.stop-title .space{
    display: inline-block;
    width: 20%;
}
/*
blue   #18ffff
red    #f44336
yellow #ffff00
black  #000
white  #fff
 */
.map-wrap{
    float: left;
    width: 33.3333%;
    padding: 0 20px; /* TODO media query to ensure max height of square map */
}
.map-inner-wrap{
    max-width: 20em;
    margin: 0 auto;
}
.map {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    padding-top: 100%;
    background: #ccc;

    border-radius: 50%;
    transform: translateZ(0);

    border: 11px solid #000;
    margin-left: -11px;
    box-sizing: content-box;
}
.map-wrap.full-page {
    float: none;
    margin: 0 auto;
    width: 100%;
}
#map_buses .leaflet-tile-pane{
    opacity: 0.2;
}
.marker-busstop img {
    position: absolute;
    top: -40px;
    left: -18px;
}
.marker-busstop p {
    font-family: 'bebas_neue';
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 0;
    position: absolute;
    top: 6px;
    text-align: center;
    width: 160px;
    left: -74px;
}
.error-msg {
    position: fixed;
    width: 300px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #666;
    background-color: #eee;
    z-index: 1030;
}
/* Hide zoom control on touch devices or move it when below a certain size, which interferes with demo parent container overlay */
.leaflet-touch .leaflet-control-zoom {
    display: none;
}
/* timeline overrides */
.timeline-wrap {
    width:100%;
    z-index: 500;
    /*bottom: 30px;*/
    left: 0px;
    right: 0px;
    background: #fff;
    padding: 30px 35px 50px;
    overflow: hidden;
}
#timeline .noUi-handle {
    top: -35px;
    width: 0px;
    height: 0px;
    border-color: black white white white;
    border-width: 30px 20px 0px 20px;
    box-shadow: none;
    overflow: hidden;
}
#timeline.noUi-target {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: #000;
    height: 5px;
}