html, body, #wrapper{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#header{
    height: 15%;
    width: 100%;
}

#map-canvas{
    height: 800px;
    width: 800px;
    top:95px;
    float:right;
    right:9.5%;
    border-radius: 50%;
}

#informationLabel{
    height: 80%;
    width: 15%;
    float:left;
    background-color:#97a4c3;
}

#titleHeader{
    position: absolute;
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 30px;
    top: 5%;
    left: 7%;
    color: #000000;
    text-align: center;
}

#place_name{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000000;
    top: 25%;
    float:left;
    left:7%;
    text-align:center;
}

#place_number{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 33%;
    float:left;
    left:7%;
    text-align:center;
}

#place_address{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 30%;
    float:left;
    left:7%;
    text-align:center;
}

#place_website{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 36%;
    float:left;
    left:7%;
    text-align:center;
}

#place_distance{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 39%;
    float:left;
    left:7%;
    text-align:center;
}

#place_price_level{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 42%;
    float:left;
    left:7%;
    text-align:center;
}

#place_rating{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    top: 45%;
    float:left;
    left:7%;
    text-align:center;
}

#distance1{
    position:absolute;
    height:2%;
    width:30%;
    float:left;
    left:7%;
    top:39%;
    background-color:#e2e2e2;
}

#distance2{
    position:absolute;
    height:2%;
    width:30%;
    float:left;
    left:7%;
    top:39%;
    background-color:#0006ff;
}

#place_reviews{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    top: 50%;
    float:left;
    left:7%;
    text-align:justify;
    width:30%;
    overflow-y:scroll;
    height:10%;
    background-color: #e2e2e2;
    padding: 5px;
}

#place_photos{
    position:absolute;
    top:10%;
    float:left;
    left:7%;
}

#chart{
    position:absolute;
    top:65%;
    float:left;
    left:7%;
}

#buttons{
    position:absolute;
    left: 7%;
    top: 15%;
}
button {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#buttonsreviews {
    position:absolute;
    left:38%;
    top:60%;
}

#background{
    position:absolute;
    width: 100%;
    height: 100%;
}