@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
h1{
    font-family: 'bebas_neue', sans-serif;
    text-align: center;
    color: #ddd;
    font-size: 5em;
}
html, body {
	height: 90%;
}
#mapid {
	height: 90%;
	background-color: #000;
}
.leaflet-left {
	width: 100%;
}
.leaflet-tile-pane{
	opacity: 0.5;
}
