@font-face {
    font-family: 'bebas_neue';
    src: url('/static/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
h1{
    font-family: 'bebas_neue', sans-serif;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    margin: -0.2em 0 0;
}
html, body {
	height: 90%;
}
#mapid {
	height: 90%;
	background-color: #000;
}
.leaflet-left {
	width: 100%;
}
.leaflet-tile-pane{
	opacity: 0.5;
}
.label_wrap{
    line-height: 48px;
}
.timeline_label{
	display: inline-block;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 56px;
}
.timeline_label[data-weather="clear-day"]{
    background-image: url("/static/icons/clear-day.png");
}
.timeline_label[data-weather="clear-night"]{
    background-image: url("/static/icons/clear-night.png");
}
.timeline_label[data-weather="cloudy"]{
    background-image: url("/static/icons/cloudy.png");
}
.timeline_label[data-weather="fog"]{
    background-image: url("/static/icons/fog.png");
}
.timeline_label[data-weather="partly-cloudy-day"]{
    background-image: url("/static/icons/partly-cloudy-day.png");
}
.timeline_label[data-weather="partly-cloudy-night"]{
    background-image: url("/static/icons/partly-cloudy-night.png");
}
.timeline_label[data-weather="sleet"]{
    background-image: url("/static/icons/sleet.png");
}
.timeline_label[data-weather="snow"]{
    background-image: url("/static/icons/snow.png");
}
.timeline_label[data-weather="wind"]{
    background-image: url("/static/icons/wind.png");
}
.timeline_label[data-weather="rain"]{
    background-image: url("/static/icons/rain.png");
}