<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Casa Future Bus Stops</title>
	<link rel="stylesheet" href="static/leaflet.css" />
	<link rel="stylesheet" href="static/nouislider.css">
	<link rel="stylesheet" href="static/nouislider.pips.css">
	<link rel="stylesheet" href="static/nouislider.tooltips.css">
	<link rel="stylesheet" href="static/main.css">
</head>
<body>
    <h2>Future Bus Stops</h2>
    <h1>Local Connections</h1>
<article class="text-content-wrap">
    <p>A digital visualisation project by Anouchka Lettré, Luigi Rossi and Tom Russell.</p>

    <h2>Visit a Bus Stop</h2>
    <p><a href="/stops/490000089A">Goodge Street Station</a> (the nearest stop
    to <a href="http://www.bartlett.ucl.ac.uk/casa/" target="_blank">CASA</a>)</p>
    <p><a href="/stops/490015764C">Covent Garden / Catherine Street</a> (a stop near the London Transport Museum)</p>
    <p><a href="/stops/490000266G">Westminster Station / Parliament Square</a></p>
    <p><a href="/stops">Find a stop&hellip;</a></p>

    <h2>Prototypes and experiments</h2>
    <p><a href="/static/google-places/index.html">Google Places using the Google Maps API</a></p>
    <p><a href="http://casa-dv.made-by-tom.co.uk/twitter_stream">Streaming tweets from across London</a></p>
    <p><a href="http://casa-dv.made-by-tom.co.uk/wikipedia_map">English Wikipedia articles across the world.</a></p>
    <p><a href="/static/tangram-basemap/index.html">3D basemap design, with Tangram.</a></p>
</article>
</body>
</html>