<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Casa Future Bus Stops</title>
	<link rel="stylesheet" href="static/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" />
</head>
<body>
	<div id="map"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
	<script src="https://mapzen.com/tangram/0.6/tangram.min.js"></script>
	<script src="static/main.js"></script>
</body>
</html>