<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Casa Future Bus Stops</title>
	<link rel="stylesheet" href="/static/leaflet-1.0.0rc1.css" />
	<link rel="stylesheet" href="/static/MarkerCluster.css" />
	<link rel="stylesheet" href="/static/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="/static/nouislider.css">
	<link rel="stylesheet" href="/static/nouislider.pips.css">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<h1>Local Connections</h1>
	<div class="map-wrap full-page">
		<div id="map" class="map"></div>
	</div>
	<script src="/static/d3.v3.min.js"></script>
	<script src="/static/leaflet-1.0.0rc1.js"></script>
	<script src="/static/leaflet.markercluster.js"></script>
	<script src="/static/stops.js"></script>
</body>
</html>